<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>


<script language="text/javascript">
	function expand(panel){
		
	}
</script>

<%users.each do |user|%>
	
	<button onclick="expand(the_pane_id);"></button>
	
<%end%>