<!DOCTYPE html>
<html>
<head>
  <title>TestDevise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://www.weand.co/homepage/fonts/styles.css" rel="stylesheet" type="text/css" media="all"/>
<link href="http://www.weand.co/homepage/css/slick.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="http://www.weand.co/homepage/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="http://www.weand.co/homepage/css/main.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
</head>
<body>

<%= yield %>

</body>
</html>
